<h1>Flight Booker</h1>

<%= form_for(flights_path, method: :get) do %>

  Select the Airport from which you are departing:
  <%= select_tag(:from_airport, options_for_select(@from_options)) %>
  <br>
  Select the Airport at which you will be arriving:
  <%= select_tag(:to_airport, options_for_select(@to_options)) %>
  <br>
  Select the Date you will be traveling:
  <%= select_tag(:date, options_for_select(@dates)) %>
  <br>
  Select the number of passengers for your flight:
  <%= select_tag(:passengers, options_for_select(@passengers)) %>
  <br>
  <%= submit_tag "Search" %>

<% end %>

<% unless @avail_flights.blank? %>
  <h3>Available Flights</h3>
  <%= form_tag(new_booking_path, method: :get) do %>
    <% @avail_flights.each do |flight| %>
    <%= hidden_field_tag(:passengers, params[:passengers]) %>
        <table>
          <th></th>
          <th><%= label_tag "Flight No." %></th>
          <th><%= label_tag "Date" %></th>
          <th><%= label_tag "From" %></th>
          <th><%= label_tag "To" %></th>
          <th><%= label_tag "Duration" %></th> 
            <tr>
              <td><%= radio_button_tag(:flight_id, flight.id) %></td>
              <td><%= flight.id %></td>
              <td><%= flight.date %></td>
              <td><%= flight.from_airport.name %></td>
              <td><%= flight.to_airport.name %></td>
              <td><%= flight.duration %></td>
            </tr>
        </table>
      <% end %>
   <%= submit_tag "Book!" %>
<% end %>
<% end %>

