<h1>Flight Booker</h1>

<%= form_for(:flight, method: :get, url: flights_path) do %>

  Select the Airport from which you are departing:
  <%= collection_select(:flight, :from_airport, @from_options, :id, :name) %>
  <br>
  Select the Airport at which you will be arriving:
  <%= collection_select(:flight, :to_airport, @to_options, :id, :name) %>
  <br>
  Select the Date you will be traveling:
  <%= select_tag("flight[date]", options_for_select(@dates)) %>
  <br>
  Select the number of passengers for your flight:
  <%= select_tag(:passengers, options_for_select(1..4)) %>
  <br>
  <%= submit_tag "Search" %>

<% end %>

<% if @avail_flights %>
  <% form_tag(new_booking_path, method: :get) do %>
    <%= @avail_flights.each do |flight| %>
      <% hidden_field_tag(:passengers, params[:passengers]) %>
        <table>
          <th><%= label_tag "Flight No." %></th>
          <th><%= label_tag "Date" %></th>
          <th><%= label_tag "From" %></th>
          <th><%= label_tag "To" %></th>
            <tr>
              <td><%= radio_button_tag(:flight_id, flight.id) %></td>
              <td><%= flight.date %></td>
              <td><%= flight.from_airport.name %></td>
              <td><%= flight.to_airport.name %></td>
              <td><%= flight.duration %></td>
            </tr>
        </table>
    <% end %>
   <%= submit_tag "Book!" %>
  <% end %>
<% if @message %>
  <p><%= @message %></p>
<% end %>
<% end %>

