<h1>Flight Details</h1>
        <table>
          <th><%= label_tag "Flight No." %></th>
          <th><%= label_tag "Date" %></th>
          <th><%= label_tag "From" %></th>
          <th><%= label_tag "To" %></th>
          <th><%= label_tag "Duration" %></th> 
            <tr>
              <td><%= @flight.id %></td>
              <td><%= @flight.date %></td>
              <td><%= @flight.from_airport.name %></td>
              <td><%= @flight.to_airport.name %></td>
              <td><%= @flight.duration %></td>
            </tr>
        </table>

<h3>Enter Personal Information</h3>

<%= form_for @booking do |f| %>
<%= f.hidden_field :flight_id, :value => @flight.id %>
<%= f.fields_for :number do |passenger_form| %>

Name:
<%= passenger_form.text_field :name %>
Email:
<%= passenger_form.text_field :email %>

<% end %>
<%= f.submit "Book" %>
<% end %>