<div class="container">
<h3>Flight Details</h3>
        <table class="table table-bordered">
          <th><%= label_tag "Flight No." %></th>
          <th><%= label_tag "Date" %></th>
          <th><%= label_tag "From" %></th>
          <th><%= label_tag "To" %></th>
          <th><%= label_tag "Duration" %></th> 
            <tr>
              <td><%= @flight.id %></td>
              <td><%= @flight.date %></td>
              <td><%= @flight.from_airport.name %></td>
              <td><%= @flight.to_airport.name %></td>
              <td><%= @flight.duration %></td>
            </tr>
        </table>

<h3>Enter Personal Information</h3>

<%= form_for @booking do |f| %>
<%= f.hidden_field :flight_id, :value => @flight.id %>
  <% count = 0 %>
    <%= "Passenger #{count += 1} information:" %>
    <div class="row">
      <div class="col-md-6">
      <%= f.fields_for :passenger do |passenger_form| %>
       Name:
       <%= passenger_form.text_field :name, class: "form-control" %>
       Email:
      <%= passenger_form.text_field :email, class: "form-control" %>
  
    <% end %>
  <%= f.submit "Book" %>
<% end %>
      </div>
    </div>
</div>