<div class="container">
<h1>Flight Details</h1>
        <table class="table table-bordered">
          <th><%= label_tag "Booking No." %></th>
          <th><%= label_tag "Flight No." %></th>
          <th><%= label_tag "Date" %></th>
          <th><%= label_tag "Time" %></th>
          <th><%= label_tag "From" %></th>
          <th><%= label_tag "To" %></th>
          <th><%= label_tag "Duration" %></th> 
            <tr>
              <td><%= @booking.id %></td>
              <td><%= @booking.flight.id %></td>
              <td><%= @booking.flight.date.strftime('%b %d, %Y') %></td>
              <td><%= @booking.flight.date.strftime('%I:%M%P') %></td>
              <td><%= @booking.flight.from_airport.name %></td>
              <td><%= @booking.flight.to_airport.name %></td>
              <td><%= @booking.flight.format_duration %></td>
              
            </tr>
</table>
                <h3>Passenger Details</h3>
                <div class="col-md-6">
                <table class="table table-bordered">
                <th>Passenger Name</th>
                <th>Passenger Email</th>
                
                  <tr>
                    <% @booking.passengers.each do |p| %></td>
                    <td><%= p.name %></td>
                    <td><%= p.email %></td>
                    <% end %>
                  </tr>
                
</table>
</div>
</div>
            
        




