<div class="container">
<h1>Flight Details</h1>
    <div class="row">
        <div class="col-md-10 book">
        <table class="table table-responsive">
          <thead>
            <th>Booking no.</th>
            <%= render 'flights/thead' %>
          </thead>
            <tr class="success">
              <td><%= @booking.id %></td>
              <td><%= @booking.flight.id %></td>
              <td><%= @booking.flight.date.strftime('%b %d, %Y') %></td>
              <td><%= @booking.flight.date.strftime('%I:%M%P') %></td>
              <td><%= @booking.flight.from_airport.name %></td>
              <td><%= @booking.flight.to_airport.name %></td>
              <td><%= @booking.flight.format_duration %></td>
              
            </tr>
</table>
        </div>
    </div>
                <div class="col-sm-6 passenger">
                <h3>Passenger Details</h3>
                <table class="table table-responsive">
                <th>Passenger Name</th>
                <th>Passenger Email</th>
                
                  <tr>
                    <% @booking.passengers.each do |p| %></td>
                    <td><%= p.name %></td>
                    <td><%= p.email %></td>
                    <% end %>
                  </tr>
                
</table>
</div>
</div>
            
        




